ul.question li {
  width: 55px;
}
ul.question {
  margin-left: 13px;
}
#pop_top {
  padding: 6px 0px 0px 0px;
}
.popup p {
  padding: 15px 10px 8px 30px;
}
.popup p.popup-policy {
  padding: 13px 20px 0px 0px;
}
.white_content {
  position: absolute;
}