.black_overlay{
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 3500px;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /*--IE 8 Transparency--*/
}
.white_content {
  display: block;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: white;
  z-index:1002;
  overflow: none;
}
.white_content_full {
  left: 10%;
  top: 10%;
}
.popup_background {
  background: url('../img/popup_background.jpg') #fff no-repeat;
  width: 586px;
  height: 369px;
}
.popup_block_full {
  top: 5%;
	left: 10%;
	z-index: 10003;
	width: 1000px;
  height:572px;
}
.popup{
	font-size: 18px;
}
.popup h3 {
	margin: 0 0 20px;
	padding: 5px 10px;
	border-bottom: 1px solid #bbb;
	font-size: 16px;
	font-weight: normal;
}
.popup p {
	padding: 16px 0px 6px 30px;
}
.popup p.popup-header {
  font-weight: bold;
  color: #0082c8;
  font-size: 20px;
}
.popup p.text {
  color: #0082c8;
}
.popup .popup-small {
  font-size: 10px;
}
.popup p.popup-policy {
  float: right;
  padding: 25px 20px 0px 0px;
}
.popup img.cntrl {
	position: absolute;
	right: -20px;
	top: -20px;
}
h2.no_margin {
  margin: -30px 0px 0px 30px;
  padding: 0px;
}