.fade {
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	filter:alpha(opacity=80);
	opacity: .80;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /*--IE 8 Transparency--*/
	left: 0;
	top: 0;
	z-index: 10;
}
.hideshow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.popup_block {
	background: url('../img/popup_background.jpg') #fff no-repeat;
	float: left;
	width: 586px;
	height: 369px;
	position: fixed;
	top: 10%;
	left: 50%;
	margin: 0 0 0 -300px;
	z-index: 100;
}
.popup_block .popup {
	float: left;
	width: 100%;
	height: 100%;
	padding: 20px;
}
.popup h3 {
	margin: 0 0 20px;
	padding: 5px 10px;
	border-bottom: 1px solid #bbb;
	font-size: 1.5em;
	font-weight: normal;
}
.popup p {
	padding: 5px 10px;
	margin: 5px 0;
}
.popup p.popup-header {
  font-weight: bold;
  color: #0082c8;
  font-size: 2.0em;
}
.popup p.text {
  color: #0082c8;
}
.popup p.popup-small {
  font-size: .85em;
}
.popup p.popup-policy {
  float: right;
  padding: 21px 40px 0px 0px;
}
.popup img.cntrl {
	position: absolute;
	right: -20px;
	top: -20px;
}
