* {
	margin:0;
	padding:0;
}

body {
  font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
}

h2, h3 {
  color: #0082c8 /* blue */
}
h2 {
  margin: 15px 0px 15px 0px;
}
h3 {
  margin: 10px 0px 10px 0px;
}
.hand {
  cursor: pointer;
}
.float_right {
  float: right;
}
.float_left {
  float: left;
}
.center{
  margin: auto;
  text-align: center;
}

/* flash */
div#flash-message img {
  vertical-align: middle;
}
div#bad-flash, div#good-flash, div#info-flash {
  cursor: pointer;
  width:90%;
  font-family: arial, sans-serif;
  font-size: 20px;
  text-align: center;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  
}
div#bad-flash {
  color: white;
  background: maroon;
}

div#good-flash {
  color: white;
  background: green;
}

div#info-flash {
  color: white;
  background: blue;
}

/* popup */
#popup{
  margin: auto;
}

div.wrapper{
  margin: auto;
  width: 1000px;
  height: 572px;
  background: #f4f4f4 url('../img/popup_spiral.png') no-repeat;
}

#pop_top {
  height: 34px;
  width: 1000px;
  padding: 10px 5px 0px 0px;
  background: url('../img/popup_top.png') no-repeat;
}
#pop_top span{
  float: right;
}
#pop_body {
  padding: 10px;
}

.pop_questions{
  width: 900px;
  height: 210px;
  margin: auto;
}
div.white_box {
  background: white;
  color: black;
  border: 1px solid #ccc; /* grey */
}
div.pop_question, div.pop_thanks {
  padding: 10px;
}
div.pop_question {
  width: 449px;
  height: 203px;
}
div.pop_thanks {
  width: 850px;
  height: 203px;
  text-align: left;
}
p.pop_text {
  margin: 25px 0px 50px 0px;
}
p.q_text {
  height: 70px;
  margin-top: 25px;
}
div.pop_button {
  padding-top: 50px;
  text-align: center;
  margin: auto;
}
ul.question {
  list-style: none;
  margin-left: 30px;
}
ul.question li {
  float: left;
  width: 54px;
  text-align: center;
  font-size: .7em;
}
ul.question li label {
  float: left;
  width: 54px;
  display: block;
}

/** Page Two **/
div.gift_card {
  float: right;
}
div.text label {
  display: block;
}
div.text input[type=text] {
  width: 450px;
  height: 35px;
  font-size: 1.5em;
  border: 1px solid #ccc; /* grey */
}