<?php
/**
  * Set the custom SurveyContact model
  */
$config = array(
  'Survey' => array(
    'table' => 'survey_contacts',
    'email' => 'no_reply@webtechnick.com',
    'name' => 'Healthy Hearing',
    'debug' => false,
    'httpauth' => array(
      'user' => 'pass'
    )
  )
);
?>