<?php
/**
  * Set the custom SurveyContact model
  */
$config = array(
  'Survey' => array(
    'table' => 'survey_contacts', //ignored
    'email' => 'no_reply@webtechnick.com',
    'name' => 'Healthy Hearing',
    'debug' => false,
    'cookietime' => 21600, //6 hours
    'httpauth' => array(
      'user' => 'pass'
    ),
    'ignore' => array() //email data to ignore % is a wildcard
  )
);
?>